/* NOTES

*/

/* Global stuff */

    .hidden {
        display:none;
    }

    .clear {
        clear:both;
    }

    .no-margin {
        margin: 0;
    }

/* TYPOGRAPHY */
    body {
        background-color:#e4e1dd;
        margin:0;
        font-family: 'Alegreya', serif;
    }

    p {
        font-size: 1em;
        font-weight:100;

    }

    h1 {
        font-size: 2.8em;
        font-weight: 900;
        margin: 20px 0;
    }

    h2 {
        font-size: 2.5em;
        font-weight: 900;
        margin: 10px 0;
    }

    h3 {

        font-size:1.5em;
    }

    label {
        display:block;
    }

    .bold {
        font-weight:600;
    }

    .center {
        text-align: center;
    }

    hr {
        margin:30px 0;
    }


/* HEADER CSS */

/* FOOTER CSS */

    .footer {
        background-color: #3e3e3e;
        color:#fff;
        text-align: center;
        min-height:125px;
        width: 100%;
        font-size: .9em;
        padding:20px 0;
    }

    a:link, a:visited {
       color:inherit;
    }

    .footerText {
        margin-top:20px;
    }

    .circular {
        border-radius:50%;
        width:100px;
    }



/* MAIN BODY CSS */

    .container {
        width:95%;
        max-width:475px;
        padding:0 2.5% 75px;
        min-height:85vh;
        margin:0 auto;
    }

    .dumpster {
        text-align:center;
    }

    .dumpsterimage {
        width:70px;
        margin:-15px 0 -20px;
    }

/* FORM FIELDS */

    .formField, #form-email, #form-zip_code {
        border:1px solid #bbb;
        background-color:#f1eeea;
        border-radius: 3px;
        padding: 2.5%;
        font-size: .8em;
        font-family: 'Alegreya', serif;
    }

    .formField {
        width:94% !important;
        margin: 5px 0 20px;
    }

    #form-email, #form-zip_code {

    }

    textarea, input {
        color:#494744;
    }

    .error_input {
        outline-color:red;
    }

    .email-reminder {
        margin-bottom:10px;
    }

    .want-an-email {
        margin-right:8px;
    }

    #form_col1 {
        margin-bottom:15px;
    }

/* Share Buttons */

    .fa {
        padding: 10px;
        font-size: 15px !important;
        width: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        color:#fff !important;
        margin: 0 2px;
    }

    .fa-big {
        padding: 15px;
        font-size: 35px !important;
        width: 35px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-envelope {
      background: #f18e1b;
      color: white;
    }    


    .share-button, .button {
        width: 100%;
        margin-bottom:5px;
    }

    .share-button:hover {
        background: #ec476b;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
    }

    .shareButtons {
        width:100%;
        text-align: center;
        margin-top:20px;
    }

    button, .btn, .button {
        display: inline-block;
        text-align: center;
        padding:8px 0;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color:#ffffff;
        border-radius: 5px;
        cursor: pointer;
        border-style: none;
    }

    .button {
        background: #71d4dd;
    }

    button, .btn {
        background: #ec476b;
    }

    button:hover, .btn:hover {
        background: #71d4dd;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
    }

    .button:hover {
        background: #ec476b;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
    }

    .donate-button {
        background-color:#ec476b;
        width:100%;
    }

    .donate-button:hover {
        background: #71d4dd;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;   
    }

    .facebook {
        background: #3b5998;
    }
    
    .twitter {
        background: #1DA1F2;
    }
    
    .email {
        background: #ec476b;
    }

/* MODALS */

    .modal {
        height: 96%;
        width: 95%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.66);
        overflow-x: hidden;
        transition: .7s;
        padding:2.5%;
        display:none;
        opacity:0;
        transition-duration: .7s;
        -webkit-transition-duration: .7s;
    }

    .modalContainer {
        width: 100%;
        height: 100%;
        background-color:#ffffff;
        border-radius:10px;
        z-index: 4;
        color:#1a1a1a;
        text-align: center;
    }

    .modalPage {
        width: 95%;
        padding:2.5%;
    }

    .the-x {
        cursor:pointer;
        color:grey;
        position:absolute;
        top:10px;
        right:12px;
        font-size:14px;
    }

/* Blog Posts on Home Page */

@media screen and (max-width: 375px) {

    #form-email, #form-zip_code {
        width: 94%;
        margin-top: 5px;
    }

}


@media screen and (min-width: 500px) {

    /* Type */

        body {
            background-size:100%;
        }

        h1 {
            font-size: 3.5em;
        }

        h2 {

        }

        h3 {

        }

        p {

        }

    /* GENERAL DESIGN */

        .dumpster {

        }

        .dumpsterimage {

        }

    /* BODY CSS */

        .container {

        }

    /* button styles */

        .donate-button {
            width:300px;
            margin:0 auto;
            display:block;
        }

    /* MODALS */

        .modalContainer {
            position: relative;
            width: 600px;
            height: 500px;
            max-height:90vh;
            margin:-250px auto;
            top:48%;
        }

        .modalContainer h1 {
            margin:0 auto 10px;
            width:500px;
        }

        .formIcon {
            width:75px;
            margin:-5px auto;
        }

        .formIcon.share {
            margin-top:5px;
        }

}

@media screen and (min-width: 530px) {

        .dumpster {
            position:absolute;
            left:88%;
            top:33%;
        }

        .dumpsterimage {
            margin:initial;
            width:75px;
        }

}

@media screen and (min-width: 650px) {

        .dumpster {
            left:84%;
            top:30%;
        }

        .dumpsterimage {
            width:100px;
        }

}

@media screen and (min-width: 775px) {

    .dumpster {
        left:79%;
        top:23%;
    }

    .dumpsterimage {
        width:145px;
    }

    .footer {

    }

}

@media screen and (min-width: 950px) {

    .dumpster {
        left:75%;
        top:20%;
    }

    .dumpsterimage {
        width:inherit;
    }

}


/* BASIC FORM REMOVAL STUFF */

#can_embed_form_inner > h2, #can_embed_form_inner > h4, .country_wrap, #d_sharing, #action_info, #logo_wrap, .can_thank_you_wrap, .form_builder_output, #form_col2 {
    display:none;
}

#can-form-area-dont-forget-the-midterms {
    display: none;
    opacity:0;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

/* Hide the action network submit button */
#can-form-area-dont-forget-the-midterms input[type="submit"] {
  visibility: hidden;
}

/**
 * AddToCalendar Blue Style
 * http://addtocalendar.com
 */

/* my modifications */

/* Base */

.addtocalendar var{
    display: none;
}

.addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
    width:172px;
    text-align: center;
    margin:20px auto 0;
    display:block !important;
}

.atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer;
}

/* Ugly hack to prevent weird flashing of add to calendar list items on submit */
.atcb-link:active~ul{
    visibility:hidden !important;
}

.atcb-link:focus~ul,
.atcb-list:hover{
    visibility:visible;
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    z-index: 900;
}

.atcb-list,
.atcb-item
{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.atcb-item {
    float: none;
    text-align: left;
}

.atcb-item-link
{
    text-decoration: none;
    outline: none;
    display: block;
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}


/* Blue */

.atc-style-blue .atcb-link,
.atc-style-blue .atcb-link:active,
.atc-style-blue .atcb-link:focus
{
    margin: 0;
    padding: 7px 25px;
    color: #fff;
    font-family: "Verdana";
    font-size: 14px;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    vertical-align: middle;
    background-color: #1c945b !important;
    box-shadow: 0 0 40px rgba(0, 0, 0, .13) inset;
    border-radius: 4px;
    zoom: 1;
}

.atc-style-blue .atcb-link:hover, .atc-style-blue .atcb-link:focus {
    background-color: #167648 !important;
}


.atc-style-blue .atcb-list {
    width: 170px;
    border: 1px solid rgb(186,186,186);
    border-radius: 2px;
    box-shadow: 0 0 5px #AAA;
}

.atc-style-blue .atcb-list,
.atc-style-blue .atcb-item
{
    background: #fff;
    color: #000;
}

.atc-style-blue .atcb-item,
.atc-style-blue .atcb-item-link
{
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
}

.atc-style-blue .atcb-item-link,
.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus
{
    color: #000;
    font-family: "Verdana";
    font-size: 14px;
    text-decoration: none;
    outline: none;
    padding: 5px 15px;
}

.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus
{
    color: #fff;
}

.atc-style-blue .atcb-item.hover,
.atc-style-blue .atcb-item:hover {
    background: rgb(66,129,244);
}

